.swiper {
  width: 100%;
  height: 100%;
}

.banner-swiper {
  padding: 0 0 12px;
}

.category-swiper {
  padding: 0 0 12px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-slide {
  width: fit-content !important;
}

.icon:hover {
  @apply transform scale-125;
  @apply transition-transform duration-300 ease-in-out;
}
